/*Global Styling*/
.container {
    
}

/*Footer Styling*/
footer {
    background: #333333;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    line-height: 2.5em;
}