@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Global Styling*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 150px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

*:focus {
    outline: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Banner Styling*/
#banner {
    background: url("../imgs/cheesecake.jpg") no-repeat center center;
    height: 500px;
    position: relative;
    top: 0;
    background-size: cover;
    margin-bottom: 80px;
}

#banner p {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    background: rgba(0, 0, 0, .2);
    padding: 10px;
}

/*Main Styling*/
.recipe-list {
    text-align: center;
    margin: 0 10rem;
}

.section-title {
    font-size: 30px;
    text-align: center;
}

hr {
    margin: 0 46rem 30px 46rem;
    background: black;
    padding-top: 1px;
}

.border img {
    width: 100%;
}

.bottom {
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
}

.view-recipe-button {
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px 12px;
    box-shadow: 2px 2px 2px black;
    position: relative;
    bottom: 1px;
    background: #5092cc;
    font-weight: bold;
    color: white;
}

.view-recipe-button:active {
    top: 1px;
    box-shadow: none;
}
